<p>Hallo {{name}},</p>

<p>vielen Dank für deine Anfrage.<br/>
Folgender Termin ist für Dich reserviert: {{date}}(ab 18.00 Uhr)<br/>
Falls du doch nicht zu dem Zeitpunkt feiern kannst/willst oder du dich einfach verklickt hast, dann gib uns doch bitte kurz per Mail Bescheid.</p>

<p>Vorab schon mal ein paar Grundlegende Informationen:<br/>
1.  Was erwartet dich / euch?</p>

<ul>
  <li>Eine komplette Bar die Platz für ca. 50-60 Gäste bietet (mit benutzbaren Gläsern, mit drei Kühlschränken direkt an der Theke)</li>
  <li>Insgesamt zwei Ebenen zum Feiern mit ausreichenden Stühlen / Tischen und Sitzbänken</li>
  <li>Einen Discokeller mit Sound- und Lichtanlage (AUX-Anschluss, USB, und CD möglich)</li>
  <li>Getrennte Toiletten die von uns mit Seife, Klopapier und Papierhandtücher ausgestattet werden (Herren / Damen - leider nicht behinderten gerecht, da Zugang nur über Treppen möglich)</li>
  <li>Putzmittel/Lappen/Geschirrtücher etc. vorhanden.</li>
  <li>Ansprechpartner / Aufsichtsperson von uns ist ständig vor Ort</li>
</ul>

<p>2.  Was erwarten wir?</p>

<ul>
  <li>Zuverlässige Personen, die Verständnis für unsere Nachbarn haben und deshalb versuchen vor der Tür möglichst für Ruhe zu sorgen.</li>
  <li>Feiernde die wissen, dass man danach die Räumlichkeiten so hinterlässt wie man Sie davor bekommen hat.</li>
</ul>

<p>Anbei findest du unseren Mietvertrag für {{#if type}} Schüler/in; Auszubildende/r; Student/in {{else}}Erwachsene/r{{/if}}, diesen bringst du Bitte ausgefüllt, und den passenden Geldbeträgen zum Tag deiner Vermietung mit.</p>

<p>Falls du noch sonstige Informationen benötigst oder du gerne früher in die Räumlichkeiten möchtest um deine Party vorzubereiten, dann lass es uns einfach per Mail an club.forum.bb@gmail.com
wissen!</p>
<p>Mit freundlichen Grüßen<br/>
Die Mitglieder des Club Forum</p>
<br/>
<p>(Dies ist eine automatisch generierte Email)</p>
