<p>Hallo {{name}},</p>

<p>vielen Dank für deine Anfrage.<br/>
Leider ist folgender Termin {{date}} zu Zeit nicht Verfügbar. Wir bitten um dein Verständnis.
Falls du doch zu einem anderen Zeitpunkt feiern willst oder du dich einfach verklickt hast, dann gib uns doch bitte kurz per Mail Bescheid. club.forum.bb@gmail.com</p>

<p>Mit freundlichen Grüßen<br/>
Die Mitglieder des Club Forum</p>
<br/>
<p>(Dies ist eine automatisch generierte Email)</p>
