# Ignore configuration files that may contain sensitive inf
certificates/*
src/config/config.development.js

# Ignore paths that contain generated content.
build/
node_modules/
data/

# Ignore default text files
robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt