	<script type="text/javascript" src="../../js/libs/ckeditor/ckeditor.js"></script>
	<div class="container-fluid contentarea">
		<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
		<div id="errmessages" class="alert alert-danger alert-dismissable" data-ng-show="errmessages">
			<button type="button" class="close" ng-click="errmessages = undefined">&times;</button>
			<span data-ng-bind="errmessages"></span>
		</div>
		<div class="row">

			<h1 class="areatitle">
				<!-- <a href="#managearticles" class="iconlink"><span class="glyphicon glyphicon-arrow-left"></span></a> -->
				{{ isNewArticle() ? "Add New Article" : "Edit Article" }}
			</h1>
			<div class="col-md-9">
				<form enctype="application/x-www-form-urlencoded" name="articleform">
					<div class="shadow">
							<h4 class="sectionheading">Title
								<span class="label label-danger sectionheading-error pad-5-10 size20" data-ng-show="submitted && articleform.title.$error.required"> - Required</span>
							</h4>
							<div class="sectioncontent">
								<input type="text" class="form-control input-admin" placeholder="Enter title here" name="title" data-ng-model="article.title" required/>
							</div>
					</div>
					<div class="shadow">
					<h4 class="sectionheading">Short Title 	
						<span class="label label-danger sectionheading-error"data-ng-show="submitted && articleform.title_short.$error.required"> - Required</span>
					</h4>
					<div class="sectioncontent">
					<input type="text" class="form-control input-admin" placeholder="Enter short title here" name="title_short" data-ng-model="article.title_short" required />
					</div>
						</div>
					<div class="shadow">
					<h4 class="sectionheading">Abstract
						<span class="label label-danger sectionheading-error" data-ng-show="submitted && articleform.abstract.$error.required">- Required!</span>
					</h4>
					<div class="sectioncontent">
						<textarea  class="form-control input-admin" rows="3" name="abstract" placeholder="Enter abstract here"  data-ng-model="article.abstract" required></textarea>
					</div>
						</div>
					<div class="shadow">
					<h4 class="sectionheading">Content
						<span class="label label-danger sectionheading-error" data-ng-show="submitted && articleform.body.$error.required">- Required!</span>
					</h4>
					<textarea ck-editor ng-model="article.body" name="body" class="form-control" id="body-editor" value="{{body}}" required>{{body}}</textarea>
						</div>
					<div class="shadow">
					<h4 class="sectionheading" >Author
						<span class="label label-danger sectionheading-error" data-ng-show="submitted && articleform.author.$error.required">- Required!</span>
					</h4>
					<div class="sectioncontent">
						<input type="text" class="form-control input-admin" placeholder="Enter author here" name="author" data-ng-model="article.author" required />
					</div>
					</div>
					<div class="shadow">
					<h4 class="sectionheading">Social</h4>
					<div class="sectioncontent">
						<div class="checkbox"  style="margin-left:10px;">
							<label class="input-admin"><input type="checkbox" name="publish_fb" data-ng-model="article.config.publish_fb"> Publish on Facebook </label>
						</div>
						<div class="checkbox" style="margin-left:10px;">
							<label class="input-admin"><input type="checkbox" name="enable_comments" data-ng-model="article.config.enable_comments"> Enable Comments </label>
						</div>
						</div>
					</div>
				</div>
				<!-- build:remove:build -->
				<!-- 
					Content container top right: Used for all actions regarding publishing the article.
					Content container bottom right: Used for all meta information regarding the article.
				-->
				<!--  /build  -->
				<div id="content_right" class="col-md-3" style="padding:0px">
					<div id="publish_pnl" class="shadow">
						<div class="sectionheading"><h4>Publish</h4></div>
						<div id="publish_pnl_body" class="panel-body box sectioncontent">
							<div id="minor-publish-actions" class="section_buttons clearfix">
								<button id="savedraft_btn" data-ng-disabled="progress.active()" data-ng-click="submit(articleform, 'saveDraft')" class="btn btn-default btn-publish" ng-hide="article.status == 'Published' || article.initstatus == 'Published' ">Safe Draft</button>
								<button id="preview_btn" data-ng-disabled="progress.active()" class="btn btn-default btn-publish ">Preview</button>
							</div>
							<div id="article-status" class="section section_spacer">
								<label class="publish_font">Status</label>	
								<span class="publish_font">{{article.status || 'None'}}</span>
								<a class="publish_font" href ng-click="isEditStatusAvailable = !isEditStatusAvailable" ng-init="isEditStatusAvailable = true" ng-hide="!article.status">Edit</a>
								<div id="edit_status_area" collapse="isEditStatusAvailable" class="publish_popup">
									<select class="publish_font" ng-model="article.newstatus" ng-options="status.name for status in sitestate.articleStatusEnum"></select>
									<a class="publish_font" href ng-click="setNewStatus(); isEditStatusAvailable = true">OK</a>
									<a class="publish_font" href ng-click="isEditStatusAvailable = true">Cancel</a>
								</div>
							</div>
							<div  id="article-visibilty" class="section section_spacer">
								<div>
									<label class="publish_font">Visibility</label>	
									<span class="publish_font">Public</span>
									<a class="publish_font" href="">Edit</a>
								</div>
							</div>
							<div  id="article-publishedon" class="section section_spacer">
									<span class="glyphicon glyphicon-calendar white"></span><label class="publish_font" style="margin-left:3px;">Published</label>	
									<span class="publish_font">{{(article.published | date:'MMM dd, yyyy @ H:mm') || 'Immediately'}}</span>
									<a class="publish_font" href="" ng-click="isPublishCollapsed = !isPublishCollapsed" ng-init="isPublishCollapsed = true">Edit</a>
									<div id="edit_publish_area" class="publish_popup" collapse="isPublishCollapsed">
										<div style="float:left; height:88px;">
											<p class="input-group publishedCalendar">
							              <input type="text" class="form-control calendarinput" datepicker-popup="MMM dd, yyyy" ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" close-text="Close" />
							              <span class="input-group-btn">
							                <button type="button" class="btn btn-default calendarinput" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							              </span>
							            </p>
						            </div>
						            <div class="timepickercontainer">
											<timepicker ng-model="dt" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker>
										</div>
										<div style="clear:both; padding-right:5px; right:0px; width:300px">
											<div style="right: -100px;">
											<p class="right socialtextstyle">
												<a class="publish_font" href ng-click="setPublished();isPublishCollapsed = true">OK</a>
												<a class="publish_font" href ng-click="isPublishCollapsed = true">Cancel</a>
											</p>
											</div>
										</div>
									</div>
							</div>
							<div  id="major-publish-actions" class="section_buttons clearfix">
								<a id="delete_btn" class="btn-delete" href="" ng-click="verifyDeleteAction()"> Move to trash </a>
								<button id="publish_btn" data-ng-disabled="progress.active()" data-ng-click="CKupdate();submit(articleform, isPublished() ? 'update' : 'publish')" class="btn btn-default btn-publish">{{ isPublished() ? "Update" : "Publish" }}</button>
							</div>
						</div>
					</div>

					<div class="shadow">
						<div class="sectionheading"><h4>Image</h4></div>
						<div class="sectioncontent">
							<input type="file" nv-file-select="" uploader="uploader" />
            	<div thumb="file"></div>
		        </div>
					</div>

					<div class="shadow">
						<div class="sectionheading"><h4>Meta</h4></div>
						<div class="sectioncontent">
							<div class="mamagama metacont">
								<label>Votes</label>	
								<span>{{article.meta.votes}}</span>
							</div>
							<div class="mamagama metacont">
								<label>Favs</label>	
								<span>{{article.meta.favs}}</span>
							</div>
							<div class="mamagama metacont">
								<label>Published on FB</label>	
								<span>{{article.config.publish_fb || "-"}}</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

<script type="text/ng-template" id="deleteVerification.html">
	<div class="modal-header">
		<h3 class="modal-title">{{header}}</h3>
	</div>
	<div class="modal-body">
		<p>{{content}}</br> 
		{{selected.title}}{{selected.status=='Draft' ? ' - Draft' : ''}}</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="deleteArticle()">OK</button>
		<button class="btn btn-warning" ng-click="cancelDeleteAction()">Cancel</button>
	</div>
</script>