<h3 style="margin-top:5px; margin-bottom:0px">Wähle einen Termin</h3>
<!-- <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
<button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
<button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button> -->
<div>
<div id="rent_datepicker" style="display:inline-block;">
    <datepicker ng-model="dt" min-date="minDate" show-weeks="false" class="well well-sm" date-disabled="disabled(date, mode)" ng-show="calendarInitialized"></datepicker>
</div>
</div>