<!DOCTYPE html>
<html>
<head>
	<title>Club Forum Layout Demo</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:400,700' rel='stylesheet' type='text/css' />
	<!-- build:css css/production.min.css-->
	<link rel="stylesheet" type="text/css" href="../../css/libs/bootstrap.min.css" />
	<link media="all" type="text/css" href="./../css/forum_demo.css" rel="stylesheet" />
	<link media="all" type="text/css" href="./../css/forum_gridlayout.css" rel="stylesheet" />
	<!--  /build  -->
	<!-- build:js js/production.min.js-->
	<script src="./../js/libs/jquery-1.11.1.js" type="text/javascript"></script>
	<script src="../../js/libs/bootstrap.min.js" type="text/javascript"></script>
	<!--  /build  -->
</head>
<body>
<div id="container">
<div class="row">
	<div  class="col-md-3">
		<div id="navigation">
		<nav>
			<ul>
				<li>
					<a href="/">
						<div class="navigationStyle">Home</div>
					</a>
				</li>
				<li>
					<a href="/news">
						<div class="navigationStyle selected">News</div>
						<div class="arrow-left"></div>
					</a>
				</li>
				<li>
					<a href="/forum_events">
						<div class="navigationStyle">Events</div>
					</a>
				</li>
				<li>
					<a href="/forum_events">
						<div class="navigationStyle">Vermietung</div>
					</a>
				</li>
				<li>
					<a href="/forum_events">
						<div class="navigationStyle">Mitglieder</div>
					</a>
				</li>
			</ul>
		</nav>
		</div>
	</div>
	<div class="col-md-9"> 
		<div class="bgblurred"></div>
		<div class="bgblurred_content">
			<div class="gridlayoutcontainer clearfix">
			{{#each articles}}
				<div class="column clearfix">
					<article>
						<header>
							<h3>{{date}}</h3>
							<h2>{{title_short}}</h2>
						</header>
						<div class="articlecontent">
							<p class="newscontentstyle">
								{{abstract}}</p>
						</div>
						<footer>
							<a class="footerstyle" href="/news/{{_id}}">Read more</a>
						</footer>
					</article>
				</div>
			{{/each}}
			</div>
		</div>	
	</div>
	</div>
</div>
<div id="footer">
	<p class="footerStyle">&copy; Club Forum 2014. All rights reserved.</p>
</div>
<!-- build:remove:build -->
<script src="//localhost:35729/livereload.js"></script>
<!--  /build  -->
</body>
</html>