<!DOCTYPE html>
<html>
<head>
	<title>Club Forum Layout Demo</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:400,700' rel='stylesheet' type='text/css' />
	<!-- build:css css/production.min.css-->
	<link rel="stylesheet" type="text/css" href="../../css/libs/bootstrap.min.css" />
	<link media="all" type="text/css" href="./../css/forum_demo.css" rel="stylesheet" />
	<link media="all" type="text/css" href="./../css/forum_gridlayout.css" rel="stylesheet" />
	<!--  /build  -->
	<!-- build:js js/production.min.js-->
	<script src="./../js/libs/jquery-1.11.1.js" type="text/javascript"></script>
	<script src="../../js/libs/bootstrap.min.js" type="text/javascript"></script>
	<!--  /build  -->
</head>
<body>
<div id="container">
<div class="row">
	<div  class="col-md-3">
		<div id="navigation">
		<nav>
			<ul>
				<li>
					<a href="/">
						<div class="navigationStyle">Home</div>
					</a>
				</li>
				<li>
					<a href="/news">
						<div class="navigationStyle selected">News</div>
						<div class="arrow-left"></div>
					</a>
				</li>
				<li>
					<a href="/forum_events">
						<div class="navigationStyle">Events</div>
					</a>
				</li>
				<li>
					<a href="/forum_events">
						<div class="navigationStyle">Vermietung</div>
					</a>
				</li>
				<li>
					<a href="/forum_events">
						<div class="navigationStyle">Mitglieder</div>
					</a>
				</li>
			</ul>
		</nav>
		</div>
	</div>
	<div class="col-md-9"> 
		<div class="bgblurred"></div>
		<div class="bgblurred_content">
			<div class="gridlayoutcontainer clearfix"> 
				<div class="column clearfix">
					<article>
						<header>
							<h3>Friday, June 13, 2014</h3>
							<h2>Klimaanlage endlich...</h2>
						</header>
						<div class="articlecontent">
							<p class="newscontentstyle">
								... repariert. Die Klimaanlage ist wieder voll am Start... QWERTZZUIAOPASSASASAAS, </p>
						</div>
						<footer>
							<a class="footerstyle" href="/news/details1">Read more</a>
						</footer>
					</article>
				</div>
				<div class="column clearfix">
					<article>
						<header>
							<h3>Friday, June 13, 2014</h3>
							<h2>Neues aus der Küche</h2>
						</header>
						<div class="articlecontent">
							<p class="newscontentstyle">
								Das Club Forum hat ab sofort eine neue Küche mit Herd und Ofen. Nun steht gutem Essen nichts mehr im Wege... </p>
						</div>
						<footer>
							<a class="footerstyle" href="/news/details2">Read more</a>
						</footer>
					</article>
				</div>
				<div class="column clearfix">
					<article>
						<header>
							<h3>Friday, June 13, 2014</h3>
							<h2>Sitzung am 12.06.2014</h2>
						</header>
						<div class="articlecontent">
							<p class="newscontentstyle">
								Lorem ipsum dolor sit amet, </p>
						</div>
						<footer>
							<a class="footerstyle" href="/news/details3">Read more</a>
						</footer>
					</article>
				</div>
				<div class="column clearfix">
					<article>
						<header>
							<h3>Friday, June 13, 2014</h3>
							<h2>Neugestalltung des ...</h2>
						</header>
						<div class="articlecontent">
							<p class="newscontentstyle">
								... Discoraums. Lorem ipsum dolor sit amet, </p>
						</div>
						<footer>
							<a class="footerstyle" href="/news/details">Read more</a>
						</footer>
					</article>
				</div>
				<div class="column clearfix">
					<article>
						<header>
							<h3>Friday, June 13, 2014</h3>
							<h2>Andreas der Knecht</h2>
						</header>
						<div class="articlecontent">
							<p class="newscontentstyle">
								Lorem ipsum dolor sit amet, </p>
						</div>
						<footer>
							<a class="footerstyle" href="/news/details">Read more</a>
						</footer>
					</article>
				</div>
				<div class="column clearfix">
					<article>
						<header>
							<h3>Friday, June 13, 2014</h3>
							<h2>Tischtennisball verschwunden</h2>
						</header>
						<div class="articlecontent">
							<p class="newscontentstyle">
								Lorem ipsum dolor sit amet, </p>
						</div>
						<footer>
							<a class="footerstyle" href="/news/details">Read more</a>
						</footer>
					</article>
				</div>
				<div class="column clearfix">
					<article>
						<header>
							<h3>Friday, June 13, 2014</h3>
							<h2>Random Text 1</h2>
						</header>
						<div class="articlecontent">
							<p class="newscontentstyle">
								Lorem ipsum dolor sit amet, </p>
						</div>
						<footer>
							<a class="footerstyle" href="/news/details">Read more</a>
						</footer>
					</article>
				</div>
				<div class="column clearfix">
					<article>
						<header>
							<h3>Friday, June 13, 2014</h3>
							<h2>Neues aus der Küche</h2>
						</header>
						<div class="articlecontent">
							<p class="newscontentstyle">
								Lorem ipsum dolor sit amet, </p>
						</div>
						<footer>
							<a class="footerstyle" href="/news/details">Read more</a>
						</footer>
					</article>
				</div>
				<div class="column clearfix">
					<article>
						<header>
							<h3>Friday, June 13, 2014</h3>
							<h2>Keine Vermietungen ...</h2>
						</header>
						<div class="articlecontent">
							<p class="newscontentstyle">
								... sind ab kommendenen Mai mehr möglich. Ausnahmen bestätigen die Regel.</p>
						</div>
						<footer>
							<a class="footerstyle" href="/news/details">Read more</a>
						</footer>
					</article>
				</div>
			</div>
		</div>	
	</div>
	</div>
</div>
<div id="footer">
	<p class="footerStyle">&copy; Club Forum 2014. All rights reserved.</p>
</div>
<!-- build:remove:build -->
<script src="//localhost:35729/livereload.js"></script>
<!--  /build  -->
</body>
</html>