/* General Styles */

@font-face {
    font-family: mamagama;
    src: url(/fonts/SFOldRepublic.ttf);
}

h1, h2, h3, h4 {
  color: white;
  font-family: Impact;
  font-weight: 400;
  line-height: 1.5em;
}

p {
  color: white;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.5em;
}

body {
  background-image: url(./../img/home_background2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-color: black;
  overflow: auto;
}

@media (max-width: 992px) {

  body {
    overflow: auto;
  }
}

.cf-logo {
  background-image: url(./../img/cflogo.png);
  background-size: cover;
  background-position: center center;
  width: 25vh;
  height: 25vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.cf-logo-p1 {
  font-size: 4.5vh;
  margin: 0px;
  text-align: center;
  font-family: Impact;
}

.cf-logo-p2 {
  font-size: 3vh;
  margin: 0px;
  text-align: center;
  font-family: Impact;
}

.cf-logo-big {
  background-image: url(./../img/cflogo.png);
  background-size: cover;
  background-position: center center;
  width: 60vh;
  height: 60vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.cf-h5 {
  font-size: 7vh;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: Impact;
}

.cf-h6 {
  margin-top: 0px;
  font-size: 5vh;
  text-align: center;
  font-family: Impact;
}

/* Container Styles */

.content-container {
  padding-top: 20px;
  position: relative;
}

#landingpagecontent{
  margin-bottom: 5vh;
}

#container {
  position: relative;
  height: 100%;
}

#main {
  height: 100vh; 
}

#news {
  width: 100%;
  height: 525px;
  padding-right: 40px;
  margin: auto;
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

#contentview {
  overflow: auto!important;
}

#footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.footerStyle {
  text-align: right;
}

/* Background Styles */

.bgblurred {
  background-image: url(./../img/home_background2_blurred.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;

  z-index: 1;
  
  position:absolute;
  width:100%;
  height:100%;
}

.bgblurred_content {
  z-index: 100;
  position: relative;
  width:100%;
  height:100%;
  background-color: rgba(255, 255, 255, 0.0);
}


/* Navigation bar styles */

#navigation {
  background-color: inherit;
  overflow: auto;
  position: inherit;
  height: 100vh;
}

#navigation > nav {
  top:5px;
  padding:10px;
  float: left;
  position: relative;
  width: 100%;
}

.navigationStyle:hover {
  color: black;
  background-color: white;
}

#navigation nav > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: table;
  table-layout: fixed;
  width: 100%;
}

#navigation nav > ul > li {
  border-style: solid;
  border-width: 0;
  background-color: inherit;
  display: table-row;
}

#navigation nav > ul > li > a {
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

#navigation nav > ul > li {
  position: relative;
  line-height: 40px;
  border-right-width: 1px;
  border-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#navigation nav > ul > li:first-child {
  padding-top: 10px;
}

#navigation nav > ul > li:last-child {
  padding-bottom: 10px;
}

.navigationStyle {
  color: white;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 30px;
}

.selected {
  -webkit-transition: 0.3s linear all; /* Safari/Chrome */
  transition: 0.3s linear all; /* All other modern browsers and IE10+ */
  font-size:40px;
  font-weight: bold;
  text-transform:uppercase;
  -webkit-text-transform:uppercase;
}

/* Navigation landing page */

#homecontent nav {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

#homecontent nav ul {
  width: 100%;
}

#homecontent nav ul li {
 display: table-cell;
 padding-right: 30px;
}

#homecontent .navigationStyle {
  font-size: 5vh;
}

/* News styling */

#newscontainer {
  width: 100%;
  margin: 20px auto;
}


#newscontainer > div {
  float: left;
  overflow: none;
  width: 33.333%;
}

#newscontainer article {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  position: relative;
}

#newscontainer article header {
  position: relative;
  padding: 10px;
}

#newscontainer article header h3 {
  color: white;
  font-family: 'Ubuntu', Impact;
  font-weight: bold;
  font-size: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#newscontainer article p {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  height: 180px;
  padding: 10px;
  padding-bottom: 0px;
  margin: 0px;
  text-align: justify;
}

.bg-contrast-black {
  position: relative;
  z-index: 99999;
  background-color: rgba(0,0,0,0.5);
}

#newscontainer article:hover .bg-contrast-black {
  -webkit-transition: 0.3s linear all; /* Safari/Chrome */
  transition: 0.3s linear all; /* All other modern browsers and IE10+ */
  background-color: rgba(0,0,0,0.0);
}


#newscontainer footer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#newscontainer article a {
  text-decoration: none;
  color: white;
  position: relative;
}

.newslink {
 float: right;
 margin-right: 15px;
 font-size: 20px;
}

.articletime {
  color: #848484;
  font-size: 20px;
  font-family: Arial;
}

.orange {
  background-color: #E74310;
  color: #E74310;
}

.violett {
  background-color: #A6177C;
  color: #A6177C;
}

.green {
  background-color: #2DB54D;
  color: #2DB54D;
}

.test {
  background-position: center;
  background-size: cover;
}

.container2 {
  width: 300px;
  height: 45px;
}

.articlewrapper {
  clear:none;
  -webkit-transition: 0.4s linear all; /* Safari/Chrome */
  transition: 0.4s linear all; /* All other modern browsers and IE10+ */
  height: 300px;
  width: 300px;
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
}

.articlewrapper h1 {
  margin-top: 0px;
  font-size: 65px;
  font-weight: 400;
  border-radius: 5px;
  font-family: Impact;
  padding: 15px;
  background-color: rgba(84,84,84, 0.0);
  text-overflow: ellipsis;
  overflow: hidden;
}

.newsarticle:hover > .articlewrapper {
  -webkit-transition: 0.4s linear all; /* Safari/Chrome */
  transition: 0.4s linear all; /* All other modern browsers and IE10+ */
  z-index: 100;
  height: 0px;
  opacity: 0;
}


.arrow-up {
  background-image: url(./../img/arrow_up_white.png);
  background-size: cover;
  background-position: center center;
  height: 75px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.arrow-down {
  background-image: url(./../img/arrow_down_white.png);
  background-size: cover;
  background-position: center center;
  height: 75px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.aligncentered {
  width: 100%;
}

.newspaginator:hover {
   -webkit-transition: 0.5s linear all; /* Safari/Chrome */
  transition: 0.5s linear all; /* All other modern browsers and IE10+ */

  border-radius: 10px;
  background-color: rgba(255,255,255, 0.5);
  cursor: pointer;
}

.overflowhidden {
    overflow: hidden;
}

/* CLEARFIX */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
