/**
* GENERAL STYLES 
*/

/* Fonts */

@font-face {
    font-family: SFOldRepublic;
    src: url(/fonts/SFOldRepublic.ttf);
}

/* Tag Styles */

h1, h2, h3, h4 {
  color: white;
  font-family: Impact;
  font-weight: 400;
  line-height: 1.5em;
}

p {
  color: white;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.5em;
}

body {
  background-image: url(./../img/home_background2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-color: black;
  overflow: auto;
}

@media (max-width: 992px) {
  body {
    overflow: auto;
  }
}

/* General Classes */
.bold {
  font-weight: bold;
}

/**
* CF Logo
*/

.cf-logo {
  background-image: url(./../img/cflogo.png);
  background-size: cover;
  background-position: center center;
  width: 25vh;
  height: 25vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.cf-logo-p1 {
  font-size: 4.5vh;
  margin: 0px;
  text-align: center;
  font-family: Impact;
}

.cf-logo-p2 {
  font-size: 3vh;
  margin: 0px;
  text-align: center;
  font-family: Impact;
}

.cf-logo-big {
  background-image: url(./../img/cflogo.png);
  background-size: cover;
  background-position: center center;
  width: 60vh;
  height: 60vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.cf-h5 {
  font-size: 7vh;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: Impact;
}

.cf-h6 {
  margin-top: 0px;
  font-size: 5vh;
  text-align: center;
  font-family: Impact;
}

/* Container Styles */

.content-container {
  padding-top: 20px;
  position: relative;
}

#landingpagecontent{
  margin-bottom: 5vh;
}

#container {
  position: relative;
  height: 100%;
}

#main {
  height: 100vh;
  padding: 0px; 
}

#news {
  width: 100%;
  height: 525px;
  padding-right: 40px;
  margin: auto;
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

#contentview {
  overflow: auto!important;
}

#footer {
  position: absolute;
  bottom: 0px;
  right: 20px;
  background-color: rgba(0,0,0, 0.3);
  height: 30px;
  margin: 0px;
}

.footerStyle {
  color: white;
  float: left;
  text-align: right;
  line-height: 30px;
  margin: 0px 10px;
}

.footerStyle:first-child {
  margin-left: 50px;
}

/* Background Styles */

.bgblurred {
  background-image: url(./../img/home_background2_blurred.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;

  z-index: 1;
  
  position:absolute;
  width:100%;
  height:100%;
}

.bgblurred_content {
  z-index: 100;
  position: relative;
  width:100%;
  height:100%;
  background-color: rgba(255, 255, 255, 0.0);
}


/* Navigation bar styles */

#navigation {
  background-color: inherit;
  overflow: auto;
  position: inherit;
  height: 100vh;
}

#navigation > nav {
  top:5px;
  padding:10px;
  float: left;
  position: relative;
  width: 100%;
}

.navigationStyle:hover {
  color: black;
  background-color: white;
}

#navigation nav > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: table;
  table-layout: fixed;
  width: 100%;
}

#navigation nav > ul > li {
  border-style: solid;
  border-width: 0;
  background-color: inherit;
  display: table-row;
}

#navigation nav > ul > li > a {
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

#navigation nav > ul > li {
  position: relative;
  line-height: 40px;
  border-right-width: 1px;
  border-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#navigation nav > ul > li:first-child {
  padding-top: 10px;
}

#navigation nav > ul > li:last-child {
  padding-bottom: 10px;
}

#navigation #adress {
  position: relative;
  padding: 10px 0px;
  margin-top: 5vh;
}

#navigation #adress p {
  width: 100%;
  color: rgba(255,255,255, 1);
  font-family: 'Ubuntu', Arial;
  opacity: 0.8;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}



.navigationStyle {
  color: white;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 30px;
}

.selected {
  -webkit-transition: 0.3s linear all; /* Safari/Chrome */
  transition: 0.3s linear all; /* All other modern browsers and IE10+ */
  font-size:40px;
  font-weight: bold;
  text-transform:uppercase;
  -webkit-text-transform:uppercase;
}

/* Navigation landing page */

#homecontent nav {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

#homecontent nav ul {
  width: 100%;
}

#homecontent nav ul li {
 display: table-cell;
 padding-right: 30px;
}

#homecontent .navigationStyle {
  font-size: 5vh;
}

/* News styling */

#newscontainer {
  width: 100%;
  margin: 20px auto;
}


#newscontainer > div {
  float: left;
  overflow: none;
  width: 33.333%;
}

#newscontainer article {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  position: relative;
}

#newscontainer article header {
  position: relative;
  padding: 10px;
}

#newscontainer article header h3 {
  color: white;
  font-family: 'Ubuntu', Impact;
  font-weight: bold;
  font-size: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#newscontainer article p {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  height: 180px;
  padding: 10px;
  padding-bottom: 0px;
  margin: 0px;
  text-align: justify;

}

.bg-contrast-black {
  position: relative;
  z-index: 99999;
  background-color: rgba(0,0,0,0.5);
}

#newscontainer article:hover .bg-contrast-black {
  -webkit-transition: 0.3s linear all; /* Safari/Chrome */
  transition: 0.3s linear all; /* All other modern browsers and IE10+ */
  background-color: rgba(0,0,0,0.0);
}


#newscontainer footer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#newscontainer article a {
  color: white;
  position: relative;
  text-decoration: none;
}

.newslink {
 float: right;
 margin-right: 15px;
 font-size: 20px;
}

.newslink:hover {
  -webkit-transition: 0.3s linear all; /* Safari/Chrome */
  transition: 0.3s linear all; /* All other modern browsers and IE10+ */
  background-color: white;
  color: black!important;
}

.newslink:hover span {
  -webkit-transition: 0.5s linear all; /* Safari/Chrome */
  transition: 0.5s linear all; /* All other modern browsers and IE10+ */
  margin-left: 10%;
}

.articletime {
  color: #848484;
  font-size: 20px;
  font-family: Arial;
}

.orange {
  background-color: #E74310;
  color: #E74310;
}

.orange-text {
  color: #E74310;
}

.violett {
  background-color: #A6177C;
  color: #A6177C;
}

.green {
  background-color: #2DB54D;
  color: #2DB54D;
}

.test {
  background-position: center;
  background-size: cover;
}

.container2 {
  width: 300px;
  height: 45px;
}

.articlewrapper {
  clear:none;
  -webkit-transition: 0.4s linear all; /* Safari/Chrome */
  transition: 0.4s linear all; /* All other modern browsers and IE10+ */
  height: 300px;
  width: 300px;
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
}

.articlewrapper h1 {
  margin-top: 0px;
  font-size: 65px;
  font-weight: 400;
  border-radius: 5px;
  font-family: Impact;
  padding: 15px;
  background-color: rgba(84,84,84, 0.0);
  text-overflow: ellipsis;
  overflow: hidden;
}

.newsarticle:hover > .articlewrapper {
  -webkit-transition: 0.4s linear all; /* Safari/Chrome */
  transition: 0.4s linear all; /* All other modern browsers and IE10+ */
  z-index: 100;
  height: 0px;
  opacity: 0;
}


.arrow-up {
  background-image: url(./../img/arrow_up_white.png);
  background-size: cover;
  background-position: center center;
  height: 75px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.arrow-up-black {
  background-image: url(./../img/arrow_up.png);
  background-size: cover;
  background-position: center center;
  height: 75px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}


.arrow-down {
  background-image: url(./../img/arrow_down_white.png);
  background-size: cover;
  background-position: center center;
  height: 75px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.arrow-down-black {
  background-image: url(./../img/arrow_down.png);
  background-size: cover;
  background-position: center center;
  height: 75px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.aligncentered {
  width: 100%;
}

.newspaginator:hover {
  -webkit-transition: 0.5s linear all; /* Safari/Chrome */
  transition: 0.5s linear all; /* All other modern browsers and IE10+ */
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.5);
  cursor: pointer;
}

.articlenavigation:hover {
  -webkit-transition: 0.5s linear all; /* Safari/Chrome */
  transition: 0.5s linear all; /* All other modern browsers and IE10+ */
  border-radius: 10px;
  background-color: rgba(0,0,0, 0.3);
  cursor: pointer;
}

.overflowhidden {
    overflow: hidden;
}

/* News Article html */
#newsarticlecontainer {
  height: 100vh;
  padding-top: 31px;
  background-color: rgba(245,245,245,0.88);
  border: 0px;
  border-left: 10px;
  border-style: solid;
  overflow: auto;
}

#newsarticlecontainer article {
  color: black;
  margin: 0px 15px;
  padding: 0% 10%;
  margin-bottom: 80px;
}

#newsarticlecontainer article h1 {
  margin: 0px;
  font-family: 'Ubuntu', Impact;
  font-size: 40px;
  font-weight: bold;
  word-wrap: break-word;
}

#newsarticlecontainer article h3 {
  font-size: 20px;
  margin: 5px 10px;
  font-family: Impact;
  color: grey;
  position: absolute;
}

#newsarticlecontainer article p {
  background-color: inherit;
  color: black;
  font-family: 'Ubuntu', Arial;
  font-size: 18px;
  text-align: justify;
}

.articleContent {
  height: 100%;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
  clear: both;
}

#newsarticlecontainer hr {
  border-style: solid;
  border-bottom-width: 4px;
  position: relative;
}

#newsarticlecontainer footer {
  position: relative;
  margin-left: 80px;
  margin-right: 80px;
}

#newsarticlecontainer #articleinteractions {
  margin: 5px 0px;
  padding-bottom: 40px;
  position: relative;
}

#newsarticlecontainer .articleinteraction {
  position: relative;
  
  width: 130px;
  height: 30px;
  font-family: Impact;
  font-size: 20px;
  font-weight: normal;
  color: white;
  border: none;
  border-top-width: 1px;
  border-top-style: solid;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border-radius: 8px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

#newsarticlecontainer .articleinteraction span {
  padding-right: 20px;
  position: absolute;
  top: 7px;
  left: 23px;
  font-size: 19px;
}


#newsarticlecontainer .articleinteractions-left {
  float: left;
  margin-left: 10%;
  margin-right: 2%;
} 

#newsarticlecontainer .articleinteractions-right {
  float: right;
  margin-left: 2%;
  margin-right: 10%;
}

#newsarticlecontainer .articleinteraction:hover {
  background-color: white;
  color: #E74310;
  border: 1px solid #E74310;
}

.centered-wrapper {
  display: table;
  height: 150px;
}

.centered {
  display:table-cell; 
  vertical-align:middle;
  padding: 0% 1%;
  position: relative;
}

.activity_rounded {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    border: 5px solid #E74310;
    border-color: #E74310;
}

.activity_rounded img  {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    vertical-align: middle;
}

/* Impressum */

.popover {
  background-color: rgba(255,255,255, 0.9)!important;
  max-width: 400px!important;
}

#cf-impressum {
  background-color: inherit;
}

#cf-impressum .header {

}


#cf-impressum h1 {
  margin-top: 0px;
  font-size: 20px;
  color: black;
  font-family: Impact;
}

#cf-impressum p {
  font-size: 13px;
  color: black;
  font-family: 'Ubuntu', Arial;
}

/* CLEARFIX */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
