/* Forum Demo CSS */

a:-webkit-any-link {
	text-decoration: none !important;
}


/* STYLES FOR OVERALL LAYOUT */
body {
	background-image: url(./../img/home_background2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
	background-attachment:fixed;
	background-color: black;
}

.search-container {
	margin-top: 20px;
  position: relative;
}

.bgblurred {
	background-image: url(./../img/home_background2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
	background-attachment:fixed;

	z-index: 1;
	
	position:absolute;
	width:100%;
	height:100%;
	-webkit-filter: blur(13px);
	-moz-filter: blur(13px);
	-o-filter: blur(13px);
	-ms-filter: blur(13px);
	filter: blur(13px);
}

.bgblurred_content {
	z-index: 100;
	position: relative;
	width:100%;
	height:100%;
	overflow: hidden;
	background-color: rgba(0 ,0 ,0 , 0.4);
}

/* TEXT STYLES */

.navigationStyle {
	font-family: 'Ubuntu',Helvetica,Arial,sans-serif;
	font-size: 25px;
	font-weight: 700;
	color: white;
	float:center;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	height: 100%; 
	width: 100%;
	padding-left: 20px;
	box-sizing: border-box;
	-webkitbox-sizing: border-box;
}

.contentStyle {
	font-family: 'Ubuntu',Helvetica,Arial,sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: white;
	float:center;
	text-decoration: none;
	padding: 12px 15px;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.footerStyle {
	font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #F6EDEC;
	float:center;
	text-decoration: none;
	padding: 8px 8px;
	margin: 0;
}

.wellcome_quote {
	font-family: 'Ubuntu',Helvetica,Arial,sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #f1d1aa;
	line-height:2em;
	float:center;
	text-decoration: none;
	padding: 12px 15px;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* HEADER STYLES */

#header {
	background-color: inherit;
	overflow: hidden;
}

/* NAVIGATION STYLES */

#navigation_border {
	float:left;
	margin-top: 5%;
	margin-left: 5%;
	background-color: black;
	float: left;
	position:fixed;
}

#navigation {
	background-color: inherit;
	overflow: hidden;
	margin-bottom: 1vh;
	margin-left: 10%;
}

#navigation > nav {
	margin-top: 4%;
	margin-left: 2%;
	background-color: rgba(188,209,16, 0.8);
	padding:10px;
	border-radius: 5%;
	float: left;
	position:fixed;
}

.selected {
	color: rgba(188,209,16, 0.8);
}

.navigationStyle:hover {
	color: black;
	background-color: white;
}

nav  {
	min-width: 250px;
}

nav a {
	text-decoration: none;
}

nav li {
	border-style: solid;
	border-width: 0;
	background-color: black;
}

nav > ul > li {
	position: relative;
	line-height: 40px;
	border-right-width: 1px;
	border-color: white;
	padding-left: 10px;
	padding-right: 10px;
}

nav > ul > li:first-child {
	padding-top: 10px;
}

nav > ul > li:last-child {
	padding-bottom: 10px;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	
	border-right:20px solid rgba(188,209,16, 0.8);
	position: absolute;
	right: 10px;
	bottom: 0px;
	z-index: 10000;
}


/* FOOTER STYLES */

#footer {
	clear: both;
	background-color: inherit;
	overflow: hidden;
	border-top: white;
	border-top-style: solid;
	border-width: 1px;
}




/* GENERAL STYLES */
h1 {
	font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
}

p { 
	font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
	margin: 0;
}

dl, ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
}

/* MAINCONTENT STYLES */

#maincontent {
	position:relative;
	overflow: hidden;
	max-width: 100%;
	min-height: 97vh;
	border-left-style: solid;
	border-width: 3px;
	border-color: whitesmoke;
}

#newsticker {
	float: left;
	background-color: inherit;
	width: 70%;
}

#infobar_right {
	float: left;
	width: 30%;
	height: 400px;
	background-color: inherit;
}

#welcome_div {
	background-color: rgba(0 ,0 ,0 , 0.4);
}

/* CLEARFIX */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}


