<div id="cf-kontakt">
  <div class="header">
    <h1>Kontakt</h1>
  </div>
  <div id="contact_info">
    <p style="font-weight: bold">Marktstraße 9</br>
       71032 Böblingen</br>
    </p>
    <p><span class="glyphicon glyphicon-earphone"></span> XXXX-XXXXXX </br>
       <span class="glyphicon glyphicon-envelope"></span><mailto receiver="club.forum.bb.de@gmail">club.forum.bb.de@gmail.com</mailto>
    </p>
  </div>
  <div id="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d164.62901254762195!2d9.010732202492363!3d48.68513717657924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4799e0833f3d9e5b%3A0xda31633bfef18be9!2sClub+Forum!5e0!3m2!1sde!2sde!4v1414603593533" width="400" height="300" frameborder="0" style="border:0"></iframe>
  </div>
<div>