<div class="container-fluid fullscreen">
	
	<!-- Error Messages for this page -->
	<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
	<div id="errmessages" class="alert alert-danger alert-dismissable" data-ng-show="errmessages">
		<button type="button" class="close" ng-click="errmessages = undefined">&times;</button>
		<span data-ng-bind="errmessages"></span>
	</div>

	<!-- Content Container -->
 	<div>
 		<!-- List with all articles -->
 		<div id="listOfArticles" class="col-md-4">
 			<div class="panel panel-default">
 				<div class="panel-heading">
					<h4 class="inline-block h4-admin">Articles</h4>
 					<div class="container-right">
	 					<a href="#managearticles/newarticle" class="iconlink">
	 					<button>
	 		 				<span class="glyphicon glyphicon-plus"> </span>		
	 		 			</button>
	 		 			</a>
	 		 			<a class="iconlink">
	 		 			<button ng-click="verifyDeleteAction()">
	 		 				<span class="glyphicon glyphicon-minus"> </span>
	 		 			</button>
	 		 			</a>
	 				</div>
				</div>
				<div class="panel-body" style="padding:0px; overflow:none; height: 77vh">
				  	<div class="input-group">
				      <input type="text" class="form-control"  name="s" placeholder="Search" value="" ng-model="searchText">
				      <span class="input-group-btn">
				        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
				      </span>
				  	</div>
					<div class="list-group jscrollpane" style="margin:0px;">
					  <a class="list-group-item from-bottom-to-top" ng-repeat="article in articles | listOfArticlesFilter:searchText" click-animate-flash="select(article) | selectedArticleContent"
					  ng-class="{active: article == selected}"  >
					    <h4 class="list-group-item-heading">{{article.title}}{{article.status=='Draft' ? ' - Draft' : ''}}</h4>
					    <p style="clear:both" class="list-group-item-text">{{article.date | date:'medium' }}</p>
					    <p class="list-group-item-text">{{article.author}}</p>
					    <div class="container-right" style="position:absolute; right:5px; bottom:5px;">
					    	<span class="glyphicon glyphicon-bullhorn" ng-show="article.config.publish_fb"></span>
					    	<span class="glyphicon glyphicon-comment" ng-show="article.config.enablecomments">{{article.comments.length}}</span>
					    	<span class="glyphicon glyphicon-thumbs-up">{{article.meta.favs}}</span>
					    </div>
					  </a>
					</div>
				</div>
 			</div>
 		</div>
 		<!-- SELECTED ARTICLE CONTENT IS SHOWN HERE-->
 		<div id="selectedArticleContent" class="col-md-8" style="padding:0; margin:0;">
 			<div class="panel panel-default">
 				<div class="panel-heading">
 					<div style="clear:none;display:inline-block;">
 						<h4 style="margin: 5px;">{{selected.title}}</h4>
 					</div> 
 					<div class="container-right">
	 					<a href="#managearticles/{{selected._id}}" class="iconlink">
	 					<button>
	 		 				<span class="glyphicon glyphicon-pencil"> </span>		
	 		 			</button>
	 		 			</a>
	 		 			<a class="iconlink">
	 					<button ng-init="statsCollapsed = true" ng-click="statsCollapsed = !statsCollapsed">
	 		 				<span class="glyphicon glyphicon-stats" ></span>	
	 		 			</button>
	 		 			</a>
	 				</div>
				</div>
	 				<div collapse="statsCollapsed" class="greyContainer">
	 					<table id="statsTable">
	 						<tbody>
		 						<tr>
		 							<td>
		 									<span class="stats-title">Short title</span>
		 							</td>
		 							<td>
		 								<span class="stats-content">{{selected.title_short}}</span>
		 							</td>
		 							<td>
		 									<span class="stats-title">Published</span>
		 							</td>
		 							<td>
		 								  <span class="stats-content">{{selected.published | date:'medium'}}</span>
		 							</td>
		 						</tr>
		 						<tr>
		 								<td>
		 									<span class="stats-title">Author</span>
		 								</td>
		 								<td>
		 									<span class="stats-content">{{selected.author}}</span>
		 								</td>
										<td>							
		 									<span class="stats-title">Created</span>
										</td>
										<td>
											<span class="stats-content">{{selected.date | date:'medium'}}</span>
										</td>
		 						</tr>
		 						<tr>
		 							<td><span class="stats-title">Edited by</span></td>
		 							<td><span class="stats-content">{{selected.author_edit}}</span></td>
		 							<td><span class="stats-title">Edited</span></td>
		 							<td><span class="stats-content">{{selected.date_edit | date:'medium'}}</span></td>
		 						</tr>
	 						</tbody>
	 					</table>
				</div>
				<div class="panel-body jscrollpane" style="padding:0px; overflow:hidden; height: 77vh" >
					<p ng-bind-html="getSelectedBody()"> </p> 
				</div>
 			</div>
 		</div>
 	</div>	
</div>

<!-- Initialize fancy scrolling -->
<script>
	$(function() {
		$('.jscrollpane').jScrollPane({autoReinitialise: true});
	});
</script>

<!-- Template has to be moved on the first page at some point in time -->
<script type="text/ng-template" id="deleteVerification.html">
	<div class="modal-header">
		<h3 class="modal-title">{{header}}</h3>
	</div>
	<div class="modal-body">
		<p>{{content}}</br> 
		{{selected.title}}{{selected.status=='Draft' ? ' - Draft' : ''}}</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="deleteArticle()">OK</button>
		<button class="btn btn-warning" ng-click="cancelDeleteAction()">Cancel</button>
	</div>
</script>