<nav>
  <ul>
    <li ng-show="navstate.visible">
      <div style="margin-bottom:5vh;">
        <a  href="" style="text-decoration: none;" click-animate-flash="setSelected('home', '#') | container">
          <div class="cf-logo"></div>
       <p class="cf-logo-p1">Club Forum</p>
       <p class="cf-logo-p2">Böblingen</p>
        </a>
      </div>
    </li>
    <li ng-repeat="link in templates.navigation">    
      <a href="" click-animate-flash="setSelected(link.name, link.href) | {{rerender}}">
        <div class="navigationStyle" ng-class="{selected : isSelected(link.id)}">{{link.name}}</div>
      </a>
    </li>
  </ul>
<div id="adress" ng-show="navstate.visible" style="width: 100%;">
  <p>
    Marktstraße 9</br>
    71032 Böblingen</br>
    <mailto receiver="club.forum.bb.de@gmail.com">
      <span style="color:white">club.forum.bb.de@gmail.com</span>
    </mailto>
  </p>
</div>
</nav>