<div id="news" class="clearfix" ng-controller="NewsController">
    <div class="aligncentered clearfix newspaginator" click-animate-flash="newerArticles() | newscontainer | moveup">
      <div class="arrow-up"></div>
    </div>
    <div class="overflowhidden">
    <div id="newscontainer" class="clearfix"
>      <div ng-repeat="article in articles">
        <article class="newsarticle" ng-class="{orange: $first, green: $middle, violett: $last}">
          <header class="">   <!-- bg-contrast-black -->
            <h3>{{article.title_short}}</h3>
          </header>
          <p class="articlecontent">  <!-- bg-contrast-black -->
            {{article.abstract}}
          </p>
          <div class="container2 clearfix"> <!-- bg-contrast-black -->
            <a href class="newslink" click-animate-flash="setSelectedArticle(article) | main | showarticle-animation">Mehr<span>...</span></a>
          </div>
          <div class="articlewrapper test" style="background-image: url(./../img/articles/{{article._id}}.png)" ng-show="{{article.hasImg}}"> 
            <div style="background-color: rgba(84,84,84, 0.6); height:100%;">
              <h1 ng-class="{orange: $first, green: $middle, violett: $last}">{{article.title_short}}</h1>
            </div>
          </div>
        </article>
        <footer>
           <span class="articletime"> {{article.published | date:'dd.MM.yyyy'}}</span>
        </footer>
      </div>
 
    </div>
    </div>
    <div class="aligncentered clearfix newspaginator" click-animate-flash="olderArticles() | newscontainer | movedown">
      <div class="arrow-down"></div>
    </div>
    <div class="helpbox help-highlight flash" ng-show="help">
    <p>
      Hier sind alle Nachrichten und Neuigkeiten über das Club Forum zu finden.
    </p>
    <p>
      Um mehr über einen der Artikel zu erfahren bewegen Sie die Maus auf die Überschrift.
    </p>
    <p>
      Um ältere Artikel anzuzeigen klicken Sie einfach auf den unteren Pfeil.
    </p>
  </div>
</div>

