<div id="news" class="clearfix">
    <div class="arrow-up">GOUP</div>
    <div id="newscontainer" class="clearfix">
      <div class="clearfix">
        <article class="newsarticle orange">
        <div class="articlewrapper white">
          <header>
            <h3>HEADER</h3>
          </header>
          <p class="articlecontent">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum tempore recusandae, nemo consequuntur rem pariatur ducimus dolorem aperiam nesciunt dolore, ratione aut, corporis laborum? Numquam ad magnam consectetur labore quam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptates magnam, odit quae aut vel accusantium. Alias pariatur quidem, minus eaque officiis, sed ea repellendus tenetur ipsa inventore est earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolores officiis, ducimus veritatis voluptatibus alias quos, magnam sed non quo hic mollitia perferendis nostrum? Commodi reprehenderit nesciunt saepe, libero et.
          </p>
          <a href="" class="newslink">Mehr </a>
          </div>
        </article>
        <footer>
           <span class="articletime"> FOOTER</span>
        </footer>
      </div>

      <div class="clearfix">
        <article class="newsarticle violett">
        <div class="articlewrapper white">
          <header>
            <h3>HEADER</h3>
          </header>
          <p class="articlecontent">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum tempore recusandae, nemo consequuntur rem pariatur ducimus dolorem aperiam nesciunt dolore, ratione aut, corporis laborum? Numquam ad magnam consectetur labore quam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptates magnam, odit quae aut vel accusantium. Alias pariatur quidem, minus eaque officiis, sed ea repellendus tenetur ipsa inventore est earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolores officiis, ducimus veritatis voluptatibus alias quos, magnam sed non quo hic mollitia perferendis nostrum? Commodi reprehenderit nesciunt saepe, libero et.
          </p>
          <a href="" class="newslink">Mehr </a>
          </div>
        </article>
        <footer>
           <span class="articletime"> FOOTER</span>
        </footer>
      </div>

      <div class="clearfix">
        <article class="newsarticle green">
        <div class="articlewrapper white">
          <header>
            <h3>HEADER</h3>
          </header>
          <p class="articlecontent">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum tempore recusandae, nemo consequuntur rem pariatur ducimus dolorem aperiam nesciunt dolore, ratione aut, corporis laborum? Numquam ad magnam consectetur labore quam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptates magnam, odit quae aut vel accusantium. Alias pariatur quidem, minus eaque officiis, sed ea repellendus tenetur ipsa inventore est earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolores officiis, ducimus veritatis voluptatibus alias quos, magnam sed non quo hic mollitia perferendis nostrum? Commodi reprehenderit nesciunt saepe, libero et.
          </p>
          <a href="" class="newslink">Mehr </a>
          </div>
        </article>
        <footer>
           <span class="articletime"> FOOTER</span>
        </footer>
      </div>
      
    </div>
    <div class="arrow-down">GODOWN</div>
</div>