<!-- This partial represents the landing page of the club forum homepage -->
<div id="rentcontent" class="container-fluid">
  
  <div class="col-md-6 col-lg-7">
    <div id="cf-slideshow" class="">
      <div style="height: 305px">
        <carousel interval="myInterval" disable-animation="true">
          <slide ng-repeat="slide in slides" >
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
              <h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>

    <div id="cf-information" class="orange">
      <p>Ihr kommt aus Böblingen und seid noch auf der Suche nach einem Ort an dem ihr eure Party schmeißten könnt? Das Club Forum bietet seine Räumlichkeiten genau zu diesem Zwecke an! Interesse? Dann schickt uns einfach eine Anfrage, indem du einfach oben Rechts einen für dich geeigneten Termin auswählst und im Anschluss ein, zwei Dinge über dich und deine Party ausfüllst... wir melden uns dann auf der angegebenen E-Mail Adresse. </p>
      <p>Hierbei gelten die folgenden Tarife:
        <ul style="color:white">
          <li>150€ pro Tag für Jugendliche, Studenten und Auszubildende</li>
          <li>250€ pro Tag für Erwachsene</li>
          <li>Zusätzlich kommen 150€ Kaution hinzu</li>
        </ul>
      </p>
    </div>    
  </div>

  <div style="min-width:330px; max-width:330px;" class="col-md-4 col-lg-5" cf-calendar-manager class="cf-content-container">
    <div cf-calendar id="calendar" class=""></div>
    <div cf-calendar-details id="calendar-details" class="clearfix"></div>
  </div>
</div>